.pragmatic_header_logo {
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
}

.pragmatic_header_button {
    margin-bottom: 2rem;
}

.pragmatic_footer_logo{
margin: 1.5rem 0;font-family: 'Pacifico', cursive;
}


.pragmatic_footer_button{
    margin-top: 1.5rem;
}


.testing{
            background-color: yellow;
            margin: 1rem;
            height: 48px;
            width: 48px;
            border-radius: 0.5rem;
            display: inline-block;
        }

.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;

}